[submodule "ArtemisMC-Fabric"]
	path = ArtemisMC-Fabric
	url = https://github.com/urfour/ArtemisMC-Fabric
[submodule "ArtemisMC-Forge"]
	path = ArtemisMC-Forge
	url = https://github.com/urfour/ArtemisMC-Forge
