[submodule "ArtemisMC-Fabric"]
	path = ArtemisMC-Fabric
	url = https://github.com/urfour/ArtemisMC-Fabric
[submodule "Artemis-Forge"]
	path = Artemis-Forge
	url = https://github.com/urfour/ArtemisMC-Forge
