name: Build Plugins

on: 
  pull_request:
  push:
    tags-ignore:
      - '*'

jobs:
  build:
    if: ${{ github.repository != 'diogotr7/Artemis.PluginTemplate' && github.repository != 'Artemis-RGB/Artemis.PluginTemplate' && '[ -f .template ]' }}
    runs-on: ubuntu-latest

    steps:
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Clone
        uses: actions/checkout@v4

      - name: Build
        run: dotnet publish -c Release src

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: src/Artemis.Plugins.Games.Minecraft/bin/x64/Release/net10.0/publish
